{% extends 'base/base_datatables.html' %}
{% load custom_filters %}


{% block head_title %}
    Tag Multiple Remove 
{% endblock %} 


{% block content %}

<section class="page-header">
    <div class="row">            
        <div class="col-8">             
            <div class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'bankexp:tag_list' %}"> Tags </a></li>
                </ol>
            </div>        
        </div>        
        <div class="col-4">           
            <div class="page-buttons text-right">
                <a class="btn btn-cancel" href="{% url 'bankexp:tag_list' %}"> <i class="icofont-close"></i> Cancel </a>
            </div>            
        </div>       
    </div>         
</section>

<section class="page-heading">
    <div class="row mt-4">    
        <div class="col">
            <h1> Remove a Tag from Multiple Transactions </h1>
        </div>
    </div>
</section>

<section class="page-content">
    <div class="row mt-4">
        <div class="col"> 

            <form action="" method="post" enctype="multipart/form-data"> 
                {% csrf_token %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                            
                {% if form.non_field_errors %}
                <div class="row mt-4">
                    <div class="col-4 offset-4">
                        <div class="card card-danger">
                            <div class="card-header"><strong>Errors</strong></div>
                            <div class="card-body">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    </div>
                </div>    
                {% endif %}

                <div class="row mt-4">
                    <div class="col-4 offset-4 text-center">
                        <p> Remove a tag from multiple transactions at once. </p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 offset-4">

                        <div class="form-row align-items-center mt-2">
                            <div class="col-2">
                                <label for="{{ form.tag.id_for_label }}" class="col-form-label"> Tag </label>
                            </div>
                            <div class="col">
                            {% if form.tag.errors %}                
                                {% for error in form.tag.errors %}
                                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                {% endfor %}                
                            {% endif %}
                            {{ form.tag }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 offset-4">
                        <button class="btn btn-save" type="submit"> Remove </button>  
                    </div>
                </div>    
            </form>
            
        </div>
    </div>

    {% if chq_trs_tag_removed %}
    <div class="row mt-4">
        <div class="col"> 
            <h2> Chequing Transactions from which the <td><a href="{{ tag_choice.get_absolute_url }}"> {{ tag_choice }}</a></td> tag has been removed: </h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col"> 
            <table class="table table-sm compact bankexpTable">
                <thead>
                    <tr>
                        <th>Transaction</th>
                        <th>Account</th>
                        <th>Date</th>
                        <th>Withdrawal</th>
                        <th>Deposits</th>
                        <th>Balance</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in chq_trs_tag_removed %}
                        <tr>
                            <td><a href="{{ item.get_absolute_url }}"> {{ item }}</a></td>
                            <td>{{ item.account }}</td>
                            <td>{{ item.tr_date }}</td>
                            <td>{{ item.tr_withdrawal|placeholder }}</td>
                            <td>{{ item.tr_deposits|placeholder }}</td>
                            <td>{{ item.tr_balance }}</td>
                            <td>
                            {% for tag in item.tags.all %} 
                                {{ tag }} {% if not forloop.last %}, {% endif %} 
                            {% endfor %}
                            </td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>        
        </div>
    </div> 
    
    {% endif %}


    {% if cc_trs_tag_removed %}
    <div class="row mt-4">
        <div class="col"> 
            <h2> Chequing Transactions from which the <td><a href="{{ tag_choice.get_absolute_url }}"> {{ tag_choice }}</a></td> tag has been removed: </h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col"> 
            <table class="table table-sm compact bankexpTable">
                <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Account</th>
                    <th>Date</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th>Tags</th>
                </tr>
                </thead>

                <tbody>
                    {% for item in cc_trs_tag_removed %}
                        <tr>
                            <td><a href="{{ item.get_absolute_url }}"> {{ item }}</a></td>
                            <td>{{ item.account }}</td>
                            <td>{{ item.tr_date }}</td>
                            <td>{{ item.tr_debit|placeholder }}</td>
                            <td>{{ item.tr_credit|placeholder }}</td>
                            <td>{{ item.tr_balance }}</td>
                            <td>
                            {% for tag in item.tags.all %} 
                                {{ tag }} {% if not forloop.last %}, {% endif %} 
                            {% endfor %}
                            </td>
                        </tr>                
                    {% endfor %}
                </tbody>
            </table>        
        </div>
    </div> 
    {% endif %}
</section>

{% endblock %}


